<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">Editing Training</h1>
    <div class="card-body">
      <%= render 'form', training: @training %>
      <%= link_to 'Back', student_training_path(@training.student_id), class: "btn btn-secondary mt-2" %>
    </div>
  </div>
</div>