<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">New Training</h1>
    <div class="card-body">
      <%= render 'form', training: @training %>

      <%= link_to 'Back', trainings_path, class: "mt-3 btn btn-secondary" %>
    </div>
  </div>
</div>
