<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">New Training</h1>
    <div class="card-body">
      <%= render 'form', training: @training %>
    </div>
    <%= link_to 'Back', student_path(@student.id), class: "btn btn-secondary btn mt-3" %>
  </div>
</div>