<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">Trainings</h1>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="col"><%= @training.title %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="align-middle">Exercícios</td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Back', student_path(@training.student_id), class: "btn btn-secondary btn" %>
  <%= link_to 'New Exercise', new_exercise_path, class: "btn btn-success" %>

  </div>
</div>