<% flash.each do |hclass, messages| %>
  <div class="alert <%= hclass %>" >
    <ul>
      <% [messages].flatten.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
