<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">Students</h1>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="col">Nome</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td class="align-middle fw-bold"><%= link_to student.name, student, style: "text-decoration: none !important;" %></td>
            <td class="d-flex justify-content-end">
              <%= link_to 'Edit', edit_student_path(student), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm ms-3" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= link_to 'New Student', new_student_path, class: "btn btn-success" %>
  </div>
</div>