<div class="container mt-5">  
  <% if user_signed_in? && @user_profile === "teacher" %>
    <h1 class="row justify-content-center">Bem Vindo ao WorkoutPlan, </h1>
  <% elsif user_signed_in? && @user_profile === "student" %>
    <%= render 'student_card' %>
  <% else %>
    <%= render 'landing' %>    
  <% end %>
</div>