<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary mt-2", style: "width: 200px" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <%= link_to "Sing In", new_user_session_path, class: "btn btn-success mt-2", style: "width: 200px" %>
    </div>
  </div>
</div>