<div class="card my-4 bg-secondary bg-gradient text-center">
  <div class="card-body">
    <h2 class="text-light fw-bold">Editing Muscle Group</h2>
  </div>
</div>

<%= render 'form', muscle_group: @muscle_group %>
<%= link_to 'Back', muscle_groups_path, class: "btn btn-primary mt-2", style: "width: 110px;"%>