<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <table class="mt-5 table table-secondary table-bordered table-striped">
        <thead class="table-dark">
          <tr class="text-center">
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @muscle_groups.each do |muscle_group| %>
            <tr class="align-middle text-center">
              <td><%= muscle_group.title %></td>
              <td>
                <%= link_to 'Edit', edit_muscle_group_path(muscle_group), class: "btn btn-primary me-2" %>
                <%= link_to 'Destroy', muscle_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to 'New Muscle Group', new_muscle_group_path, class: "btn btn-success" %>
    </div>
  </div>
</div>


